{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/960.css" %}">

<div class="container_12">
      
	<div class="grid_12" id="banner_azul">
      <br><br>
   	<h1> SAGE </h1>
   </div>
	<div class="grid_4 push_4" id="parking">
   	<a href="/solicitar/"><img src="{%static "Sist_SAGE/reserve.jpg" %}" width="300px"></a>
      <h3 id="solicitar"> Solicitar reserva </h3>
   </div>

	<div class="grid_4" id="button">
		<br>
			<a href="/"><button id ="volver" type="button" class="btn btn-primary">Volver al menú inicial</button></a>
  </div>


</div>

<style>

#banner_azul {

width:100%
height: 200px;
background-color: rgb(46, 140, 224);

}

#solicitar {
position:relative;
left: 60px;

}


#button {
position:relative;
left : 60px;
top: 470px;

}

h1 {

position:relative;
left: 75px;
font-family: arial;

}

#parking {

position:relative;
top: 150px;


}

#print {

position:relative;
top: 138px;

}

</style>
