{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/960.css" %}">

<div class="container_12">
      
	<div class="grid_12" id="banner_azul">
      <br><br>
   	<h1> Bienvenido a SAGE </h1>
   </div>

   <div class="grid_12 push_3" id="tittle">
     <h2> El pago ha sido confirmado exitosamente  </h2>
   </div>
  <div class="grid_6 push_4" id="print">
  <ul>  
     <li> {{pago.codigoConfirmacion}} </li>
	  <li> Nombre: {{pago.nombre.value}} </li>
     <li> Cédula: {{pago.cedula.value}} </li>
     <li> Tipo de tarjeta: {{pago.tipoTarjeta.value}} </li>
     <li> Número de tarjeta: {{pago.obtener_ultimos_4_digitos}} </li>
  	  <li> Hora de inicio: {{pago.inicio}}:{{sol.minInicio}} </li>
	  <li> Hora de inicio: {{sol.horaFin}}:{{sol.minFin}} </li>
     <br><br>
  </ul>
  </div>

   <div class="grid_4 pull_1" id="button">
      <a class="btn btn-primary" href='/'>Volver al menú inicial</a>
   </div>
</div>

<style>

#banner_azul {

width:100%
height: 200px;
background-color: rgb(46, 140, 224);

}

h1 {

position:relative;
left: 75px;
font-family: arial;

}

#tittle {

position:relative;
top: 80px;


}

#button {

position:relative;
top: 300px;
}

#print {

position:relative;
top:100px;
font-size: 20px;


}

p {

size: 14px;
font-family:sans;

}

</style>
