{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/960.css" %}">

<div class="container_12">
      
	<div class="grid_12" id="banner_azul">
      <img src="{%static "Sist_SAGE/LogoSAGE.png" %}" width="200px" height="120px">
   </div>
	<div class="grid_4" id="parking">
   	<a href="/agregar/"> <img src="{%static "Sist_SAGE/parking.png" %}" width="200px">
      <h3 id="registrar"> Registrar estacionamiento </h3></a>
   </div>

   <div id="print" class="grid_4 push_1">
   	<a href="/estacionamientos_registrados/"> 
      <img class="image" src="{%static "Sist_SAGE/print.jpg" %}" width="170px">
      	<h3 id="registrar"> Estacionamiento Registrados </h3></a>
   </div>
   <div id="print" class="grid_4 push_1">
   <a href="/reservas_registradas/"> 
      <img class="image" src="{%static "Sist_SAGE/reserva.gif" %}" width="170px">
      	<h3 id="TituloReservas"> Reservas </h3></a>
   </div>
   
	<div class="grid_4 pull_3" id="button">
		<br>
			<a href="/"><button id ="volver" type="button" class="btn btn-primary">Volver al menú inicial</button></a>
	</div>

</div>

<style>

#banner_azul {

width:100%
height: 200px;
background-color: rgb(46, 140, 224);
border-radius: 6px;
}

#registrar {
position:relative;
right:30px;

}

#button {
position:relative;
top: 200px;

}

h1 {

position:relative;
left: 75px;
font-family: arial;

}

#parking {

position:relative;
top: 150px;


}

#print {

position:relative;
top: 138px;;

}
.image {

position:relative;

}

#image {

position:relative;


}

</style>
