
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{%static "Sist_SAGE/960.css" %}">

<div class="container_12">

   <div class="grid_12" id="banner_azul">
      <img src="{%static "Sist_SAGE/LogoSAGE.png" %}" width="200px" height="120px"><br>
   </div>
  
	<div class="grid_5" >
		<h2 id="titulo"> Reservas registradas </h2>
	</div>
  	<div class="grid_7 text-right" id="button"><br>
      <a class="btn btn-primary" href="/menu/">Regresar</a>
      <br><br><br>
  	</div>
  
  <table id="bookTable" class="table table-hover" >
	  <thead>
		 <tr>
		   <th align="left">Referencia</th>
         	<th align="left">Cédula</th>
		   <th align="left">Nombre y Apellido</th>
		 </tr>
	  </thead>

	  <tbody>
		 {% for res in pagos %}
	  		<tr>
		     <td style="text-decoration:underline; color:blue"><a href='/datos_pago/{{res.id}}'> {{ res.codigoConfirmacion}} </a></td>
		     <td>{{res.cedula}}</td>
		     <td>{{res.nombre}}</td>
		   </tr>
		 {% endfor %}
		 
	  </tbody>
	</table><br>
	
	<div class="grid_7 text-left" id="button">
      <a class="btn btn-primary" href="/menu/">Regresar</a>
      <br><br>
  	</div>
  

</div>

<style>

#banner_azul {

width:100%
height: 200px;
background-color: rgb(46, 140, 224);
border-radius: 6px;
}

h2#titulo {

position:relative; 
top:10px;
left:10px;

}

h1#sage {
position:relative; 
left:10px;

}

a:visited { 
   color:black;
   font-weight: bold;
	font-size: 110%;
}

#button { 
   color:white;
   font-weight: bold;
   font-size: 100%;
}


#bookTable th {
      background-color: #ddd;
      border-color:#7A7070;
      font-size: 14px;
  }

#bookTable th td tr{
 border-color:black;
 }


.table-hover {

border-color:#7A7070;

}

.table-hover>tbody>tr>td {

border-color:#7A7070;

}

.table-hover>tbody>tr:hover {
background-color: #5bc0de;
}

#bookTable tr:nth-child(even) {

background-color: #F2F8F7;

}

input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
background-color:#F8F0BE;
border-radius:6px;
}

</style>
